/*
* TODO
* ---
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ECF0E7;
}

.container {
  margin: 0 auto;
  max-width: 90%;
}

.utente img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #8EA7C2;
}

.utente {
  vertical-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #4A5E82;
  color: #8EA7C2;
  border-top: 2px solid #ECF0E7;
}

a,
a:hover,
a:focus,
a:visited {
  color: #B8CCA6;
}

.online {
  background-color: #B8CCA6;
  color: #5C5457;
}

.online a,
.online a:hover,
.online a:focus,
.online a:visited {
  color: #4A5E82;
}
.title {
  background-color: #5C5457;
  color: #E1E1E6;
  text-align: left;
}
div {
  text-align: center;
}
h1 {
  text-transform: uppercase;
  font-size: 56px;
  font-weight: bold;
  color: inherit;
}
